#logo {
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width:25em;
	display: block;
	max-width: 100%
	}


/*nav info*/

nav.ul{list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	}

nav {width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

li.navli  {display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 120px
	}



/*end nav info*/


body {font-family: 'open sans';
	margin: 0
	}

a {text-decoration: none}


h1 {color: green}

.abox{float: left;
	margin-top: 5em;
	padding-bottom: 5em;
	display: block;
	}



.content {
	padding-top: 2em;
	padding-bottom: 5em;
	background-color: transparent;
	}

footer {
	padding-top: 2em;
	font-weight:bold;
	border-style: solid;
	border-color: green;
	border-width: 10px 0 0 0;
	padding-bottom: 2em;
	background-color: purple;
	color: hsl(36,50%,50%);
	text-align: center;
	clear: both;
} 




/*styling for pictures on everything but the home page*/
.pagepic {	
	border-radius: 10px;
	border-style: solid;
	border-color: transparent;
	max-width: 100%
	}




/*experimenting with styling for front page*/


a:link {
    transition: all .5s linear 0;
    color: hsl(36,50%,50%);
}

a:visited {color: hsl(36, 50%, 50%);}

a:hover {
    color: hsl(36,100%,50%);
}

a:active {color: gray}



#frontpagepics {margin-left: 400px;
	transition:all 0s linear 0;
	background-color: black;
	border-style: solid;
	border-color: yellow
	}

#frontpagepics:hover {visibility: hidden}
